-- MariaDB dump 10.19  Distrib 10.4.32-MariaDB, for Win64 (AMD64)
--
-- Host: localhost    Database: blood_bank_db
-- ------------------------------------------------------
-- Server version	10.4.32-MariaDB

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!40101 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Dumping data for table `blood_inventory`
--

LOCK TABLES `blood_inventory` WRITE;
/*!40000 ALTER TABLE `blood_inventory` DISABLE KEYS */;
INSERT INTO `blood_inventory` (`id`, `cantidad_disponibleml`, `tipo_sangre`, `ultima_actualizacion`) VALUES (1,900,'O_POSITIVO','2026-05-21 11:04:42.000000');
/*!40000 ALTER TABLE `blood_inventory` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `donations`
--

LOCK TABLES `donations` WRITE;
/*!40000 ALTER TABLE `donations` DISABLE KEYS */;
INSERT INTO `donations` (`id`, `cantidadml`, `codigo_unico`, `fecha_donacion`, `fecha_registro`, `observaciones`, `donante_id`) VALUES (1,450,'DON-2605211045-5164','2026-05-21','2026-05-21 10:45:07.000000','Primera donacion',1),(2,450,'DON-2605211104-5545','2026-05-21','2026-05-21 11:04:42.000000','Donacion voluntaria',2);
/*!40000 ALTER TABLE `donations` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `donors`
--

LOCK TABLES `donors` WRITE;
/*!40000 ALTER TABLE `donors` DISABLE KEYS */;
INSERT INTO `donors` (`id`, `acepta_consentimiento`, `apellidos`, `correo`, `direccion`, `documento`, `fecha_creacion`, `fecha_nacimiento`, `fecha_ultima_donacion`, `firma_consentimiento`, `nombres`, `peso`, `telefono`, `tipo_sangre`) VALUES (1,'','Martinez','carlos@email.com','Calle 123','123456789','2026-05-21 10:43:49.000000','1990-05-15','2026-05-21','base64:firma_digital','Carlos',75,'3001234567','O_POSITIVO'),(2,'','Lopez','maria@email.com','Calle 789','111222333','2026-05-21 11:02:45.000000','1995-06-15','2026-05-21','base64:MiFirmaDigital123','Maria',65,'3005556666','O_POSITIVO');
/*!40000 ALTER TABLE `donors` ENABLE KEYS */;
UNLOCK TABLES;
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2026-05-26 10:59:45
